body{
    margin: 0%;
}

main{
    padding: 16px;
}

footer{
    background-color: lightgreen;
    padding: 24px 0px 24px 0px;
    font-size: large;
}

img{
    height: 200px;
}

nav{
    border-bottom: 1px;
    padding: 16px 16px 16px 16px;
    background-color: green;
}

html{
    background-color: aqua;
}

nav{
    background-color: rgb(250, 119, 21);
}

a{
    background-color: orange;
    text-decoration: none;
}


tr:nth-child(even) {
    background-color: rgb(145, 145, 145);
}

.boxing {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 16px;
    grid-template-rows: auto auto auto auto;
    row-gap: 16px;

}
